body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'alcotton';
  src: local('alcotton'),
    url('./Fonts/alcotton.ttf') format('truetype');
  font-weight: bold;
}

.font-alcotton {
  font-family: "alcotton";
}

@font-face {
  font-family: 'Dimica-Light';
  src: local('Dimica-Light'),
    url('./Fonts/Dimica-Light.ttf') format('truetype');
  font-weight: bold;
}

.font-Dimica-Light {
  font-family: "Dimica-Light";
}